@media screen and (max-width:980px) {
    .common-btn{font-size: var(--fs-14);}
    /* Header Style */
    header{background: #fff; border-bottom:1px solid var(--color-gray-d);}
    header .container{grid-template-columns: 1fr 1fr;}
    header .container > *:not(.logo, .mobile-btn-wrapper){display: none;}
    header .logo{justify-content: flex-start;}
    
    .mobile-menus{display: block; position: absolute; top:101%; width: var(--ls-full); background: #fff; 
        box-shadow: 0 1px 3px var(--color-gray-d); height: 0; overflow: hidden; transition: all .3s;}
    .mobile-menus .nav-lists{display: block;}
    .mobile-menus .nav-lists li{text-align: center; padding: 0;}
    .mobile-menus .nav-lists li a{ display: block; width: 100%; font-size: var(--fs-16); padding: var(--el-medium) 0;
    border-bottom: 1px solid var(--color-gray-d);}

    .mobile-menus .info{display: flex; justify-content: center;}

    header .mobile-btn{display: block;}
    header .mobile-btn-wrapper{justify-content: flex-end;}

    /* Landing Section Style */
    /* filter 속성 참조 :https://developer.mozilla.org/ko/docs/Web/CSS/filter */
    .overlay{position: absolute; width: 100%; height: 100%; background: #fff; opacity: .4;}
    .landing-text-box h1{text-shadow: 1px 1px 1px var(--color-gray-2);}
    .landing-text-box p{width: var(--ls-1-2);}

    /* Features Section Style */
    .features-section .feature{padding: var(--el-normal);}

    /* Slide Section Style */
    .slider-section .slider-text h4{font-size: var(--fs-20);}
    .slider-section .slider-nav{width: 45px; height: 45px;}
    .swiper-button-next:after, 
    .swiper-button-prev:after{font-size: 1rem;}
    .swiper-button-next{right: 2rem;} 
    .swiper-button-prev{left: 2rem;}
    /* Product Section Style */
    .offers-section .product-frame{padding: var(--el-normal);}

    /* Review Section Style */
    .review-section .review-frame{padding: var(--el-normal);}
    .review-section .review-item{padding: var(--el-medium);}
    .review-section .review-item p{-webkit-line-clamp: 3;}

    /* Insta Section Style */
    .insta-section .insta-wrapper{column-gap: var(--el-small);}
    .insta-section .insta-info h4{font-size: var(--fs-name);}
    
}
@media screen and (max-width:786px) {
    html{font-size: 14px;}
    .section{padding: var(--el-section-small) 0;}
    .container{padding: 0 var(--el-medium);}

    /* Meet section Style */
    .meet-section .meet-wrapper{flex-direction: column; row-gap: var(--el-wide); padding: 0 10%;}
    .meet-section .meet-text-box{width: var(--ls-full);}
    .meet-section .meet-text-box p{margin: 0; width: var(--ls-full);}
    .meet-section .meet-image-box{width: var(--ls-full);}
   
    /* Features Section Style */
    .features-section .features{ flex-direction: column; row-gap: var(--el-wide);}
    .features-section .feature{width: 60%; margin: auto;}

    /* Slide Section Style */
    .slider-section .slider-nav{display: none;}
    .slider-section .swiper-slide{flex-direction: column; align-items: center;}
    .slider-section .swiper-slide > div{ width: var(--ls-full); width: 80%; margin: auto;}
    /* .slider-section .swiper-slide > div.slider-image{width: 80%; margin: auto;} */
    .slider-section .slider-text {align-items: center; text-align: center;}
    /* Product Section Style */
    .offers-section .product-frame{width: var(--ls-1-2);}
    /* Review Section Style */
    .review-section .review-frame{width: var(--ls-1-2);}
    /* Insta Section Style */
    .insta-section .insta-right-image{display: none;}
    .insta-section .insta-wrapper{grid-template-columns: 1fr 1fr;}

    /* Sign UP Page Style */
    .sign .sign-box{width: 75vw;}

}

@media screen and (max-width:600px) {
    .landing-text-box{text-align: center;}
    .landing-text-box h1{font-size: 1.8rem;}
    .landing-text-box p{width: 80%; margin: auto;}
    
    .overlay{opacity: 0.7;}
    /* Meet Section Style */
    .meet-section .meet-wrapper{padding: 0 5%;}
    .meet-section .meet-image-box{column-gap: var(--el-normal);}
    .meet-section .meet-left-image{row-gap: var(--el-normal);}
    .meet-section .meet-text-box p{width: var(--ls-full); font-size: var(--fs-16);}
    .meet-section span{font-size: var(--fs-16);}

    /* Features Section Style */
    .features-section .feature{width: 90%;}

    /* Features Section Style */
    .slider-section .swiper-slide > div.slider-image{width: 90%;}
    /* Product Section Style */
    .offers-section .product-frame{width: var(--ls-full);}
     /* Review Section Style */
     .review-section .review-frame{width: var(--ls-full);}
     /* Gallery Section Style */
     .gallery-section .grid-item{width: var(--ls-1-2); padding: .25rem;}
    /* Insta Section Style */
    .insta-section .insta-wrapper{grid-template-columns: 1fr; row-gap:var(--el-wide);}
    .insta-section .insta-info{order: 1;}
    .insta-section .insta-left-image{order:2;}
    /* Footer Section Style */
    footer .footer-upper{flex-direction: column;}
    footer .footer-logo{margin: 0 0 var(--el-medium) 0;}
    footer .footer-info{flex-direction: column; align-items: center; row-gap: var(--el-medium);}
    footer .footer-info .footer-nav a{padding: var(--el-small);}
    footer .footer-lower{flex-direction: column; row-gap: var(--el-normal); align-items: center; text-align: center;}

     /* Sign UP Page Style */
     .sign .sign-box{width: 95vw;}
     .sign p input:not(input[type="submit"]){padding: var(--el-normal);}
     .sign p.send-btn input{padding: var(--el-normal);}
}
